div{border:solid 1px black;}
div#top{position:absolute;top:20px;left:0px;width:1005px;height:145px;align:center; border:solid 0px white;}
div#left{position:absolute;top:170px;left:0px;width:200px;height:700px; border:solid 0px white;}
div#main{position:absolute;top:170px;left:205px;width:595px;overflow: auto; border: solid 0px white;}
div#footer{position:absolute;top:1000px;left:0px; border: solid 0px white;}
div#right{position:absolute;top:170px;left:805px;width:200px;height:700px; border: solid 0px white;}
div#mod{border:solid 1px black;}
